<header id="brewHeader">
    <a id="header-link" href="/"></a>
    <div class="search-links">
        <a class="ghost-button" href="/beer-search">Search for a Beer</a>
        <a class="ghost-button" href="/brewery-search">Search for a Brewery</a>
    </div>
</header>
