<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Flexin Bows with Taran Pierce</title>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300'  type='text/css'>
</head>

<body>
    <%- include('components/header'); %>
    <div class="container">
        <h1><% if(search) { %>Looks like you were searching for <% } %>Flexin Bows with Taran Pierce</h1>
        <a id="taran" target="_blank" rel="noopener nofollow" href="https://flexinbows.taranitup.club"></a>
    </div>
    <script src="../js/main.js"></script>
</body>

</html>
